
<div fxFlex.gt-md="600px">
    <mat-card class="default">
      <mat-card-header>
        <mat-card-title class="mx-16 my-24">Info Type de congé</mat-card-title>
      </mat-card-header>
      <mat-card-content class="pt-0">
        <mat-list>
          <mat-list-item><strong>Titre du congé: </strong> {{leaveType.name}}</mat-list-item>
          <mat-list-item><strong>Type: </strong>{{leaveType.timeOffType}}</mat-list-item>
          <mat-list-item><strong>Duréé: </strong>{{leaveType.duration}}</mat-list-item>
          <mat-list-item><strong>Alert: </strong>{{leaveType.alertNumberDays}}</mat-list-item>
          <mat-list-item><strong>Commentaire: </strong>{{leaveType.description}}</mat-list-item>
       
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
 