
<div fxFlex.gt-md="600px">
    <mat-card class="default">
      <mat-card-header>
        <mat-card-title class="mx-16 my-24">Info Calendrier</mat-card-title>
      </mat-card-header>
      <mat-card-content class="pt-0">
        <mat-list>
          <mat-list-item><strong>Référence: </strong> {{calendar.reference}}</mat-list-item>
          <mat-list-item><strong>Titre: </strong>{{calendar.name}}</mat-list-item>
          <mat-list-item><strong>Description: </strong>{{calendar.description}}</mat-list-item>
       
       
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
 