/* form repeater */
/*.repeater-default {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  .form-group {
    margin-bottom: 1rem;
  }
  label {
    color: #999;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
  }
  input[type='email'],
  input[type='password'],
  textarea,
  .mat-input-element {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    &:focus {
      outline: none;
      border-color: $primary;
    }
  }
  textarea {
    resize: none;
  }
  .skin-flat {
    .skin {
      margin-top: 0.5rem;
      .mat-radio-button {
        margin-right: 0.5rem;
      }
      .mat-radio-checked {
        color: $primary;
      }
    }
    label {
      font-size: 0.875rem;
      font-weight: 500;
      margin-bottom: 0.25rem;
      text-transform: uppercase;
    }
    input[type='tel'] {
      border: none;
      border-bottom: 1px solid #ccc;
      font-size: 1rem;
      padding: 0.5rem 0;
      width: 100%;
      &:focus {
        outline: none;
        border-color: $primary;
      }
    }
  }
  select {
    appearance: none;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    &:focus {
      outline: none;
      border-color: $primary;
    }
  }
  .text-center {
    text-align: center;
  }
  .btn {
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    &:last-child {
      margin-right: 0;
    }
    &.btn-primary {
      background-color: $primary;
      border-color: $primary;
      color: #fff;
      &:hover {
        background-color: darken($primary, 10%);
        border-color: darken($primary, 10%);
      }
    }
    &.btn-danger {
      background-color: $error;
      border-color: $error;
      color: #fff;
      &:hover {
        background-color: darken($error, 10%);
        border-color: darken($error, 10%);
      }
    }
    i.material-icons {
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }
  }
  hr {
    border: none;
    border-top: 1px solid #ddd;
    margin-top: 20px;
  }
}*/
.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

