
  <div fxFlex.gt-md="600px">
    <mat-card class="default">
      <mat-card-header>
        <mat-card-title class="mx-16 my-24">Info Récupération</mat-card-title>
      </mat-card-header>
      <mat-card-content class="pt-0">
        <mat-list>
          <mat-list-item><strong>Récupération : </strong> {{recoveryLeave.name}}</mat-list-item>
          <mat-list-item><strong>Date : </strong>{{recoveryLeave.date}}</mat-list-item>
          <mat-list-item><strong>Type: </strong>{{recoveryLeave.recoveryType}}</mat-list-item>
          <mat-list-item><strong>Modalité de récupération: </strong>{{recoveryLeave.recoveryDay}}</mat-list-item>
          <mat-list-item><strong>Date de saisie: </strong>{{recoveryLeave.inputDate}}</mat-list-item>
          <mat-list-item><strong>Commentaire: </strong>{{recoveryLeave.comment}}</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
 