<h1 matDialogTitle>{{data.title}}</h1>
<form [formGroup]="itemForm" (ngSubmit)="submit()" >
 
  
 
      
 <div fxLayout="row wrap" fxLayout.lt-sm="column">

    
    <div fxFlex="50" class="pr-16">
        <mat-form-field appearance="outline" [style.width.cm]=10>
          <mat-label>Titre</mat-label>
          <input matInput 
          name="name" 
          type="text"  
          formControlName="name" 
          placeholder="Titre"  />
        </mat-form-field>
      </div>

     
      <div fxFlex="50"  class="pb-16">
        <mat-form-field appearance="outline" [style.width.cm]=10>
        <mat-label>Type de congé</mat-label>
        <mat-select formControlName="timeOffType" >
          <mat-option *ngFor="let x of timeOffType " [value]="x">{{timeOffTypeMap[x]}}</mat-option>
        </mat-select>
        </mat-form-field>
      </div>

     

      <div fxFlex="50" class="pr-16">
        <mat-form-field appearance="outline" [style.width.cm]=10>
          <mat-label>Nombre de jour</mat-label>
          <input matInput 
          name="duration" 
          type="number"  
          formControlName="duration" 
          placeholder="Nombre de jour"  />
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-16">
        <mat-form-field appearance="outline" [style.width.cm]=10>
          <mat-label>Alert avant </mat-label>
          <input matInput 
          name="alertNumberDays" 
          type="number"  
          formControlName="alertNumberDays" 
          placeholder="Alert avant "  />
        </mat-form-field>
      </div>
    
          <div class="mini-container" >
            <mat-form-field [style.width.cm]=21.2 class="example-full-width" appearance="outline">
             <mat-label>Commentaire</mat-label>
             <textarea matInput placeholder="Veuillez saisir un commentaire." 
             [formControl]="itemForm.controls['description']"></textarea>
           </mat-form-field>
         </div>
      

          
        
          <div fxFlex="100" class="mt-16">
            <button mat-raised-button color="primary" >Enregistrer</button>
            <span fxFlex></span>
            <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Annuler</button>
          </div>
      </div>


</form>